<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinsu.mapper.RecordMapper">
    <insert id="addRecord" parameterType="Record">
        insert into xinsu.record (detail,timestamp,ID)
        value (#{detail}, #{`timestamp`},#{ID});
    </insert>

    <select id="queryRecordByID" resultType="Record">
        select * from xinsu.record
        where ID = #{ID}
    </select>
    <delete id="deleteRecords" parameterType="int">
        delete from xinsu.record
        where ID = #{ID}
    </delete>

</mapper>